<div class="container">
  <h2>My To-Do List</h2>

  <!-- ADD A TO-DO -->
  <form role="form" ng-submit="addTodo()">
    <!-- ng-submit binds Angular expression to onsubmit event of form -->
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo" placeholder="What needs to be done today?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
  <p></p>

  <!-- TO-DO LIST -->
  <div ui-sortable ng-model="toDoList">
  <p class="input-group" ng-repeat="todo in toDoList" style="padding: 5px 10px; cursor: move;">
    <!-- ng-repeat is an Angular directive that instantiates a template once per item from a collection; each item in the toDoList array will become a new instance of <p><input></p> -->
    <input type="text" ng-model="todo" class="form-control">
    <!-- ng-model creates two-way data binding; populates text input field with value from current todo item in loop -->
    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="removeToDo($index)" aria-label="Remove">X</button>
      <!-- ng-click allows to specify custom behaviours when element is clicked -->
      <!-- $index will be the array index of current toDoList -->
    </span>
  </p>
  </div>
</div>


<!-- ORIGINAL CODE -->
<!-- <div class="jumbotron">
  <h1>WOW This Is MAGIC</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">I'm so excited!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
